<form class="container">
    <div class="form-group">
      <label for="mail">Mail Adresi</label>
      <input type="email" class="form-control" id="mail" ng-model="mail" >
    </div>
    <div class="form-group">
      <label for="parola">Parola</label>
      <input type="password" class="form-control" id="parola" ng-model="parola">
    </div>
    <button type="submit" class="btn btn-success" ng-click="login()">Giriş Yap</button>
    <button type="submit" class="btn btn-primary" ng-click="signup()">Üye Ol</button>
</form>